:root {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
  }
  
  .container {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  
  .row>* {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
  
  /* # General
  =================================================*/

    body {
      word-wrap: break-word;
    }
  
    img,
    svg {
    vertical-align: middle;
    }

    input{
      width: 100%;
    }
    input, input:focus, button{
      border: none; 
      outline: none;  
    }

    button{
      background: unset;
    }
  
    button,
    [role=button],
    [class*='btn'] {
      cursor: pointer;  
    }
  
    figure {
    max-width: 100%;
    }
  

  
  /* # Common Class
  =================================================*/

  /* Flex ___________ Starts */

  [class*="flex"]{
    display: flex;
    align-items: center;
  }

  [class$="gap"]{
    gap: 20px;
  }

  [class$="center"]{
    justify-content: center;
  }

  [class$="between"]{
    justify-content:space-between;
  }


  /* grid ___________ Starts */

  [class*="grid"] {
    display: grid;
    align-items: center;
    gap: 20px;
  }
  
  .grid-30 {
    grid-template-columns: 30% auto;
  }
  .grid-reverse-30 {
    grid-template-columns: auto 30%;
  }
  .grid-50-50 {
    grid-template-columns: repeat(2, 1fr);
  }


  /* all-page ___________ Starts */

  .all-page :is(h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6) {
    margin-bottom: 15px !important;
  }

 
  
  /* # Common Components
  =================================================*/
  
  /* Breadcrumbs ___________Starts */
  
  
  /* Site Cards _____________Starts */
 
  
  /* Separator _____________Start*/
 
  
  /* Sep button _____________Start*/
  
  
  /* Social Icons _____________Start*/

  
  /* pagination _____________start */
  
  .pagination {
    margin-top: 50px;
  }
  
  .pagination,
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .page-numbers {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  
  .page-numbers::before {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -2px;
    z-index: -1;
    transition: all 0.3s ease 0s;
  }
  
  .page-numbers:hover:before,
  .page-numbers:focus:before {
    transform: rotate(-90deg);
    border-style: solid;
  }
  
  
  /* # Header [mobile size]
  =================================================*/

 
  /* # Home Page
  =================================================*/
 
  
  /* # Single Page
  =================================================*/
  
  /* Blog header _____________start */
 
  
  /* Blog sidebar_____________start */
 
  
  /* table of contents */
  
  /* Blog Contents _____________start */
  
  /* table */
  
  /* related post */
  
  /* pros-cons */
  
  /* widgets */
  
  /* Accordians faq */
 
  
  /* # All Author Page
  =================================================*/
 
  
  /* # Author Single Page 
  =================================================*/
  
  
  /* # Contact Page Templates
  =================================================*/
  
  
  /* # Thank You || Search Not Found  || 404 Page
  =================================================*/
  
  
  /* # Footer
  =================================================*/
 
  
  /* # Scroll top button
  =================================================*/
  #scroll_to_top {
    position: fixed;
    bottom: 48px;
    height: 45px;
    width: 45px;
    right: 21px;
    z-index: 12;
    border-radius: 50%;
    border: unset;
    cursor: pointer;
  }
  
  /* # Responsive Code
  =================================================*/
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }

    /* Blog header _____________start */


  }
  
  @media (min-width: 768px) {
  
    .container {
      max-width: 720px;
    }
  
    .col-md-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-md-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-md-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    .col-md-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    .col-md-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-md-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  
    .col-lg-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    .col-lg-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-lg-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-lg-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    .col-lg-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-lg-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    .col-lg-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    .col-lg-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-lg-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  

  
 